<h1>Joshua Needle's Home Page</h1>
<p>Welcome to the first assignment for Joshua Needle.</p>

<%= form_tag("/sms/send", method: "post") do %>
  <%= label_tag(:mess, "Enter a message here:") %>
  <%= text_field_tag(:mess) %> <br><br>
  <%= label_tag(:phone, "Enter the phone number") %>
  <%= text_field_tag(:phone) %> <br><br>
  <%= submit_tag("Submit") %>
<% end %>
